<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QnA 페이지</title>
</head>
<body>

<h2></h2>

    <table>
        <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성 시간</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="q: ${questionEntityList}">
                <td th:text="${q.id}"></td>
                <td>
                    <a th:href="@{|/QnA/Question/detail/${q.id}|}" th:text="${q.title}"></a>
                </td>

                <td th:text="${q.memberEntity.getMemberName()}"></td>
                <td th:text="${q.createDate}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>